name: pwc-cicd

on:
  push:
    branches: 
      - main
    paths:
      - 'app/**'
      - 'Dockerfile'
      - 'requirements.txt'
      - 'k8s/**'
      - '.github/workflows/deploy.yaml'
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set image tag
        id: vars
        run: |
          SHORT_SHA=$(git rev-parse --short=8 HEAD)
          if [ "${GITHUB_REF_NAME}" == "main" ]; then
            echo "IMAGE_TAG=prod-${SHORT_SHA}" >> $GITHUB_ENV
          fi
          echo "Using image tag: $IMAGE_TAG"

      - name: Login to ACR
        run: |
          echo "${{ secrets.ACR_PASSWORD }}" | docker login ${{ secrets.ACR_NAME }}.azurecr.io --username ${{ secrets.ACR_USERNAME }} --password-stdin

      - name: Build and Push Image
        run: |
          IMAGE_NAME=${{ secrets.ACR_NAME }}.azurecr.io/pwc-python:$IMAGE_TAG
          docker build -t $IMAGE_NAME .
          docker push $IMAGE_NAME

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Create kube config directory
        run: mkdir -p $HOME/.kube

      - name: Set kubeconfig
        run: |
          echo "${{ secrets.KUBECONFIG_CONTENT }}" > $HOME/.kube/config
          chmod 600 $HOME/.kube/config

      - name: Install Kustomize if not present
        run: |
          if ! command -v kustomize &> /dev/null; then
            echo "Kustomize not found. Installing..."
            sudo snap install kustomize
          else
            echo "Kustomize already installed."
          fi

      - name: Deploy to AKS
        run: |
          if [ "${GITHUB_REF_NAME}" == "main" ]; then
            DEPLOYMENT_DIR=k8s/overlays/prod
            NAMESPACE=prod
          fi
          IMAGE_NAME=${{ secrets.ACR_NAME }}.azurecr.io/pwc-python:$IMAGE_TAG
          cd $DEPLOYMENT_DIR
          kustomize edit set image pwc-python=$IMAGE_NAME
          kubectl apply -k .

          # Wait for deployment rollout
          if ! kubectl rollout status deployment/python-microservice -n $NAMESPACE --timeout=120s; then
            echo "Rollout failed. Rolling back..."
            kubectl rollout undo deployment/python-microservice -n $NAMESPACE
            exit 1
          fi