name: pwc-cicd

on:
  push:
    branches: 
      - main
    paths:
      - 'app/**'
      - 'Dockerfile'
      - 'requirements.txt'
      - 'k8s/**'
      - '.github/workflows/deploy.yml'
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set image tag
        id: vars
        run: |
          SHORT_SHA=$(git rev-parse --short=8 HEAD)
          if [ "${GITHUB_REF_NAME}" == "main" ]; then
            echo "IMAGE_TAG=prod-${SHORT_SHA}" >> $GITHUB_ENV
          fi
          echo "Using image tag: $IMAGE_TAG"

      # Login to ACR with username & password
      - name: Login to ACR
        run: |
          echo "${{ secrets.ACR_PASSWORD }}" | docker login ${{ secrets.ACR_NAME }}.azurecr.io --username ${{ secrets.ACR_USERNAME }} --password-stdin

      # Build and push Docker image
      - name: Build and Push Image
        run: |
          IMAGE_NAME=${{ secrets.ACR_NAME }}.azurecr.io/pwc-python:$IMAGE_TAG
          docker build -t $IMAGE_NAME .
          docker push $IMAGE_NAME

      # Set up kubectl
      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Create kube config directory
        run: mkdir -p $HOME/.kube

      # Configure kubeconfig from secret
      - name: Set kubeconfig
        run: |
          echo "${{ secrets.KUBECONFIG_CONTENT }}" > $HOME/.kube/config
          chmod 600 $HOME/.kube/config

      # Deploy to AKS with rollout check
      - name: Deploy to AKS
        run: |
          DEPLOYMENT_NAME=python-microservice
          IMAGE_NAME=${{ secrets.ACR_NAME }}.azurecr.io/pwc-python:$IMAGE_TAG
          kubectl set image deployment/$DEPLOYMENT_NAME $DEPLOYMENT_NAME=$IMAGE_NAME --record
          kubectl rollout status deployment/$DEPLOYMENT_NAME --timeout=60s || \
          (echo "Rollout failed. Rolling back..." && kubectl rollout undo deployment/$DEPLOYMENT_NAME && exit 1)
